#title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

#customer-testimonials {
  padding: 80px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/back-customers.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  padding-left: 70px;
  padding-right: 30px;
}

#title .container-fluid {
  padding: 80px 0;
}

#title .footer {
  padding: 7% 15%;
}

.container-fluid {
  width: auto;
}

#features {
  padding: 80px 0;
  padding-left: 70px;
  padding-right: 30px;
}

#dishes {
  padding: 0;
}

#how-it-works {
  padding: 80px 0;
  background-color: #f4f4f4;
}

#Our-cities {
  padding: 80px 0;
  padding-left: 70px;
  padding-right: 30px;
}

#Sign-up-and-pricing-plans {
  padding: 80px 0;
  padding-left: 70px;
  padding-right: 30px;
  background-color: #f4f4f4;
}

#Sign-up {
  padding: 80px 0;
  padding-left: 70px;
  padding-right: 30px;
}

#footer {
  padding: 50px;
  background-color: #333;
  text-align: center;
}

/*download-button*/
.download-button {
  margin: 5% 3% 5% 0;
}

.dish {
  padding: 80px 0;
}

h1 {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.hero-text-box {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
}

h2 {
  font-family: "Montserrat-black";
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.wow {
  max-width: 1140px;
  margin: 0 auto;
}

.wow:before, .wow:after {
  content: "";
  display: table;
}

.qqq {
  font-family: "Montserrat-black";
  font-size: 1.5rem;
  padding-top: 30px;
}

p {
  font-family: "Montserrat-black";
  line-height: 1.5;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 30px;
}

/*navigation*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.logo {
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

.nav-iem {
  padding: 0 18px;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin-left: 40px;
  color: black;
}

.download {
  margin: 5% 3% 5% 0;
}

h3 {
  font-family: "Montserrat-black";
  text-align: left;
  text-transform: uppercase;
  font-size: 2rem;
}

img {
  border: 0;
}

blockquote {
  color: #fff;
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #e67e22;
  padding-bottom: 30px;
}

.food {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.food img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(1.15);
}

.meals li {
  list-style: none;
  float: left;
  width: 25%;
}

.meals {
  width: 100%;
  margin: 0;
  padding-left: 0;
}

clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.phone {
  padding-left: 400px;
  padding-top: 50px;
}

.text {
  display: block;
  float: left;
  margin-bottom: 50px;
}

.number {
  color: #e67e22;
  font-size: 150%;
  height: 75px;
  width: 75px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  float: left;
  padding: 15px
}

.list {
  margin-bottom: 50px;
  margin-top: 100px;
}

.para {
  text-align: left;
}

.cities {
  padding-bottom: 30px;
}

.city {
  padding-top: 50px;
}

.pizza {
  color: #fff;
}

.customer-img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.two {
  color: #fff;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

.ci {
  padding-top: 50px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.head {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}

.head:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form {
  padding-top: 50px;
}

label {
  width: 25%;
}

.send-itbutton {
  margin-left: 500px;
  margin-top: 50px;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.social-icon {
  margin: 20px 10px;
  color: #fff;
}

.fab {
  margin-bottom: 1rem;
}

.footer-1 {
  color: #fff;
}
